/* Center the input-form on the page */
  /* .input-container {
    background-color: #0f3460;
    padding: 1rem;
    text-align: center;
  } */

  .input-container .input-group {
    max-width: 800px;
    margin: 0 auto;
  }

  input#policy_input {
    border-radius: 1rem;
    height: 45px;
  }

#toggleMode {
  /* position: fixed; */
  top: 20px;
  right: 20px;
  border: 1px solid #fff8f8;
  border-radius: 5px;
}
body {
  /* font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-color, #121212);
  color: var(--text-color, #ffffff);
  transition: background-color 0.4s ease, color 0.4s ease; */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}


/* Style the main div */
/* Default dark mode for the main div */
.main {
  background-color: var(--bg-color, #313030);
  color: var(--text-color, #ffffff);
  transition: background-color 0.4s ease, color 0.4s ease;
  padding: 20px;
  margin: 20px auto;
  margin-bottom: -50px;
  width: 90%; /* Expand the width */
  height: 80vh; /* Set a fixed height */
  border-radius: 20px;
  overflow-y: auto; /* Add vertical scroll */
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.2); /* Optional: Add a shadow for better visibility */
}

/* Light mode for the main div */
.main.light-mode {
  background-color: #f8f9fa; /* Light background */
  color: #212529; /* Dark text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for light mode */
}

/* Table container styles */
.tables {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

/* Table styles */
.tables table {
  border-collapse: collapse;
  width: auto;
  margin: 10px;
}

.tables table th,
.tables table td {
  border: 1px solid #fff8f8;
  padding: 8px;
  text-align: left;
}

/* .tables table thead tr {
  background-color: #181616; /* Light gray background for table headers */
/* } */

/* Suggestions section */
.sugg h3 {
  text-align: center;
}

.sugg ol {
  padding-left: 20px;
}

.light-mode {
  --bg-color: #ffffff;
  --text-color: #222;
  --table-border-color: #000; 
}

#toggleMode {
  /* position: fixed; */
  top: 20px;
  right: 20px;
  border: 1px solid #fff8f8;
  border-radius: 5px;
}